.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  z-index: 4;
  border-bottom: 1px hsl(var(--color-secondary) / 0.4) solid;
}

.header > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
}

.header > div:first-child:hover {
  cursor: pointer;
}

.header h2 {
  font-size: medium;
}

.logo-container {
  position: relative;
  width: 36px;
  height: 36px;
}

.link-container {
  list-style: none;
  display: none;
}

.link-container > li > a {
  font-size: 1.4rem;
  text-decoration: none;
}

.header > div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 92px;
  z-index: 6;
}

.burger-btn {
  display: flex;
  transition: all 0.2s ease-in;
}

.burger-btn:hover {
  transform: translateY(-2px);
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 12px;
  }

  .header h2 {
    font-size: 1.4rem;
  }

  .logo-container {
    width: 42px;
    height: 42px;
  }

  .link-container {
    width: 280px;
    display: flex;
    justify-content: space-between;
  }
  .burger-btn {
    display: none;
  }
  .header > div:last-child {
    justify-content: center;
  }
}

@media screen and (max-width: 1024px) {
  .link-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: absolute;
    height: 28vh;
    width: 100%;
    background-color: hsl(var(--color-primary));
    border-bottom: solid 1px hsl(var(--color-secondary) / 0.4);
    top: -28vh;
    left: 0;
    right: 0;
    margin: 0;
    padding: 24px;
    padding-top: 72px;
    transition: all 0.3s ease-in-out;
  }
  .link-container > li {
    margin: 8px 0;
  }
  .open {
    top: 0vh;
  }
}
