.content {
  display: grid;
  grid-template-columns: 100%;
}

/*sm': '640px',*/
@media (min-width: 640px) {
}

/*'md': '768px',*/
@media (min-width: 768px) {
  .content {
    grid-template-columns: 50% 50%;
  }
}

/*'lg': '1024px',*/
@media (min-width: 1024px) {
  .content {
    grid-template-columns: 33% 33% 33%;
  }
}

/*'xl': '1280px',*/
@media (min-width: 1280px) {
}

/*'2xl': '1536px',*/
@media (min-width: 1536px) {
}
