.product-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-out;
  /* box-shadow: 12px 12px 8px rgb(244, 242, 242); */
  /* border-radius: 24px;
  border: 1px solid rgb(231, 232, 231);
  padding: 12px; */
}

.product-overview:hover {
  transform: scale(1.05);
}

.image-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 10%;
  overflow: hidden;
}

.image {
  object-fit: cover;
  transition: all 0.2s ease-out;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text-container__title {
  text-align: center;
  font-size: 1.6rem;
}

.text-container__text {
  text-align: center;
  font-weight: 600;
}

.text-container__button {
  margin: 2rem auto 0 auto;
  display: block;
  width: 100%;
}

/*sm': '640px',*/
@media (min-width: 640px) {
  .product-overview {
    margin: 2rem 1rem;
  }
  /* .text-container__button {
    width: auto;
  }
  .text-container__title {
    font-size: 2rem;
  }
  .text-container__text {
    font-size: 1.1rem;
  }
  .image-container {
  } */
}

/*'md': '768px',*/
@media (min-width: 768px) {
}

/*'lg': '1024px',*/
@media (min-width: 1024px) {
  /* .product-overview {
    flex-direction: var(--position);
    margin: 8rem auto;
    gap: 2rem;
  }
  .image-container {
    flex: 2;
    max-width: 540px;
  }

  .text-container {
    flex: 3;
    align-items: start;
  }

  .text-container__title {
    text-align: start;
    font-size: 2.4rem;
  }

  .text-container__text {
    text-align: start;
    font-size: 1.2rem;
  }

  .text-container__button {
    width: auto;
    margin: 4rem 0 0 0;
    display: inline-block;
  } */
}

/*'xl': '1280px',*/
@media (min-width: 1280px) {
}

/*'2xl': '1536px',*/
@media (min-width: 1536px) {
}
