.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  min-height: 580px;
  border-bottom: 1px solid hsl(var(--color-secondary) / 0.4);
  z-index: 1;
}
.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  text-align: center;
}

.info-container h1 {
  text-align: center;
  margin: auto;
  font-size: 1.8rem;
}

.buttons-container {
  z-index: 2;
}

.secondary-button {
  font-weight: normal !important;
  background-color: hsl(var(--color-primary)) !important;
  color: hsl(var(--color-secondary)) !important;
}

.image-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  flex: 1.2;
  z-index: -1;
}

.gradient-background {
  position: absolute;
  inset: 0;
  background-color: hsl(210 11% 15% / 0.4);
  z-index: 1;
}

.image {
  object-fit: cover;
}

.advantages {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25 25 25 25;
  gap: 28px;
}
.advantages > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages > div > p {
  color: hsl(var(--color-primary));
  font-weight: bold;
  font-size: 1rem;
  padding: 6px;
  text-align: center;
}

.icon {
  width: 32px;
  height: 32px;
  fill: hsl(var(--color-primary));
  margin-right: 12px;
}

/*sm': '640px',*/
@media (min-width: 640px) {
  .advantages {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }
  .icon {
    width: 42px;
    height: 42px;
  }
  .advantages > div > p {
    font-size: 1.2rem;
  }
  .buttons-container {
    width: 420px;
    display: flex;
    justify-content: space-around;
  }
  .info-container {
    gap: 6rem;
  }
  .info-container h1 {
    font-size: 2rem;
  }
}

/*'md': '768px',*/
@media (min-width: 768px) {
}

/*'lg': '1024px',*/
@media (min-width: 1024px) {
  .section {
    flex-direction: row;
    height: 70vh;
  }
  .icon {
    width: 48px;
    height: 48px;
  }
  .advantages > div > p {
    font-size: 1.4rem;
  }
  .info-container {
    justify-content: center;
    align-items: start;
    text-align: left;
  }
  .info-container > div {
    margin: 0 auto;
  }
  .info-container h1 {
    font-size: 2.6rem;
  }
  .info-container p {
    font-size: 1.2rem;
  }
  .buttons-container {
    width: 560px;
  }
  .button {
    width: 14rem;
    margin: 0 1rem;
    font-size: 1.1rem;
  }
}

/*'xl': '1280px',*/
@media (min-width: 1280px) {
  .advantages {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
  }
}

/*'2xl': '1536px',*/
@media (min-width: 1536px) {
}
