.cart__products-container {
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px black solid;
  padding: 1.4rem;
}

.cart__product__close-button {
  background-color: hsl(var(--color-secondary) / 1);
  color: rgb(255, 255, 255);
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  padding: 0rem !important;
}

.cart__product__image-container {
  position: relative;
  aspect-ratio: 1;
  width: 8rem;
  border-radius: 10%;
  overflow: hidden;
}

.cart__product__image {
  object-fit: cover;
}

.cart__product__quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.2rem;
}

.cart__product__quantity-container__quantity {
  font-size: 1.4rem;
}

.cart__product__info {
  height: 11rem;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/*sm': '640px',*/
@media (min-width: 640px) {
  .cart__product__info {
    font-size: 1rem;
  }
}

/*'md': '768px',*/
@media (min-width: 768px) {
}

/*'lg': '1024px',*/
@media (min-width: 1024px) {
}

/*'xl': '1280px',*/
@media (min-width: 1280px) {
}

/*'2xl': '1536px',*/
@media (min-width: 1536px) {
}
