.products-container {
  display: grid;
  grid-template-columns: 100%;
  max-width: 400px;
  margin: auto;
}

.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  width: 90%;
  margin: 0.8rem auto;
  border: solid #ccc 1px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.product:hover {
  transform: scale(1.05);
}

.section-title {
  text-align: center;
  padding: 1rem 0;
}

.image-container {
  position: relative;
  aspect-ratio: 1;
  height: 4rem;
  border-radius: 12px;
  overflow: hidden;
}

.image {
  object-fit: cover;
}

/*sm': '640px',*/
@media (min-width: 640px) {
  .products-container {
    grid-template-columns: 50% 50%;
    max-width: 700px;
  }
}

/*'md': '768px',*/
@media (min-width: 768px) {
}

/*'lg': '1024px',*/
@media (min-width: 1024px) {
  .products-container {
    grid-template-columns: 33% 33% 33%;
    max-width: 900px;
  }
}

/*'xl': '1280px',*/
@media (min-width: 1280px) {
}

/*'2xl': '1536px',*/
@media (min-width: 1536px) {
}
